---
layout: page
title: "About"
description: "Hey, this is Crimps."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p><h1>Ctrl + C & Ctrl + V</h1></blockquote>

    <h1>Kindle阅读计划</h1>

        <h3>正在读：</h3>
            <ol>
                <li>枪炮、病菌与钢铁：人类社会的命运-贾雷德·戴蒙德 2017.03.24-
            </ol>

        <h3>想读：</h3>
        <ol>
        <li>雪-奥尔罕·帕慕克
        <li>大师和玛格丽特-布尔加科夫
        <li>幽灵之家-伊莎贝尔·阿连德
        <li>心-夏目漱石
        <li>永恒的终结-艾萨克·阿西莫夫
        <li>去他的巴西-胡续冬
        <li>边走边啃腌萝卜-妹尾河童
        <li>楼兰-井上靖
        <li>巷说百物语-京极夏彦
        <li>采桑子-叶广芩
        <li>灰故事-阿
        <li>盲刺客-玛·阿特伍德
        <li>人间草木-汪曾祺
        <li>北京法源寺-李敖
        <li>帕洛马尔-伊塔洛·卡尔维诺
        <li>停车暂借问-钟晓阳
        <li>各自的朝圣路-周国平
        <li>务虚笔记-史铁生
        <li>深河-远藤周作
        </ol>

        <h3>已读：</h3>
        <ol>
        <li>解忧杂货店-东野圭吾 2016.03.21-2016.03.27</li>
        <li>追风筝的人-卡勒德·胡赛尼 2016.03.28-2016.03.31 </li>
        <li>千江有水千江月-萧丽红 2016.04.01-2016.04.09</li>
        <li>情人-玛格丽特·杜拉斯 2016.04.10-2016.04.24</li>
        <li>芒果街上的小屋 2016.04.15-2016.04.28</li>
        <li>一个人的朝圣-蕾秋`乔伊斯 2016.10.12-2017.03.21</li>
        </ol>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p><h1>Ctrl + C & Ctrl + V</h1></blockquote>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <!-- This id is used for indexing my loss comments forcedly -->
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
    <!-- U can just use this key generated to index comments at page about -->
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
